[Desktop Entry]
Comment=Pomodoro Plasmoid
Encoding=UTF-8
Icon=/tomatoid-icon.png
Name=Tomatoid
Type=Service
X-KDE-Library=plasma_applet_tomatoid
X-KDE-PluginInfo-Author=Arthur Taborda
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Email=arthur.hvt@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=tomatoid
X-KDE-PluginInfo-Version=1.0
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=280,320
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
