[Desktop Entry]
Comment=Plasma Tomatoid
Comment[ast]=Plasma Tomatoid
Comment[bs]=Plazma Tomatoid
Comment[ca@valencia]=Plasma Tomatoid
Comment[ca]=Plasma Tomatoid
Comment[cs]=Plasma Tomatoid
Comment[da]=Plasma Tomatoid
Comment[de]=Plasma Tomatoid
Comment[el]=Plasma Tomatoid
Comment[en_GB]=Plasma Tomatoid
Comment[eo]=Plasma Tomatoid
Comment[es]=Plasma Tomatoid
Comment[et]=Plasma Tomatoid
Comment[fi]=Plasma Tomatoid
Comment[fr]=Plasma Tomatoid
Comment[ga]=Plasma Tomatoid
Comment[gl]=Plasma Tomatoid
Comment[hu]=Plasma Tomatoid
Comment[it]=Plasma Tomatoid
Comment[ja]=Plasma Tomatoid
Comment[kk]=Plasma Tomatoid
Comment[km]=ប្លាស្មា Tomatoid
Comment[ko]=Plasma Tomatoid
Comment[lv]=Plasma Tomatoid
Comment[nb]=Plasma Tomatoid
Comment[nds]=Plasma Tomatoid
Comment[nl]=Plasma Tomatoid
Comment[nn]=Plasma Tomatoid
Comment[pa]=ਪਲਾਜ਼ਮਾ Tomatoid
Comment[pl]=Plazma Tomatoid
Comment[pt]=Plasma Tomatoid
Comment[pt_BR]=Plasma Tomatoid
Comment[ro]=Plasma Tomatoid
Comment[ru]=Plasma Tomatoid
Comment[sk]=Plasma Tomatoid
Comment[sq]=Plasma Tomatoid
Comment[sr@ijekavian]=Плазмин Tomatoid
Comment[sr@ijekavianlatin]=Plasmin Tomatoid
Comment[sr@latin]=Plasmin Tomatoid
Comment[sr]=Плазмин Tomatoid
Comment[sv]=Plasma Tomatoid
Comment[tr]=Plasma Tomatoid
Comment[uk]=Плазма Tomatoid
Comment[x-test]=xxPlasma Tomatoidxx
Comment[zh_CN]=Plasma Tomatoid
Comment[zh_TW]=Plasma Tomatoid
Encoding=UTF-8
Icon=tomatoid-icon.png
Keywords=
Name=Tomatoid
Name[ast]=Tomatoid
Name[bg]=Tomatoid
Name[bs]=Tomatoid
Name[ca@valencia]=Tomatoid
Name[ca]=Tomatoid
Name[cs]=Tomatoid
Name[da]=Tomatoid
Name[de]=Tomatoid
Name[el]=Tomatoid
Name[en_GB]=Tomatoid
Name[eo]=Tomatoid
Name[es]=Tomatoid
Name[et]=Tomatoid
Name[fi]=Tomatoid
Name[fr]=Tomatoid
Name[ga]=Tomatoid
Name[gl]=Tomatoid
Name[hu]=Tomatoid
Name[it]=Tomatoid
Name[ja]=Tomatoid
Name[kk]=Tomatoid
Name[km]=Tomatoid
Name[ko]=Tomatoid
Name[lv]=Tomatoid
Name[nb]=Tomatoid
Name[nds]=Tomatoid
Name[nl]=Tomatoid
Name[nn]=Tomatoid
Name[pa]=Tomatoid
Name[pl]=Tomatoid
Name[pt]=Tomatoid
Name[pt_BR]=Tomatoid
Name[ro]=Tomatoid
Name[ru]=Tomatoid
Name[sk]=Tomatoid
Name[sq]=Tomatoid
Name[sr@ijekavian]=Tomatoid
Name[sr@ijekavianlatin]=Tomatoid
Name[sr@latin]=Tomatoid
Name[sr]=Tomatoid
Name[sv]=Tomatoid
Name[tr]=Tomatoid
Name[ug]=Tomatoid
Name[uk]=Tomatoid
Name[x-test]=xxTomatoidxx
Name[zh_CN]=Tomatoid
Name[zh_TW]=Tomatoid
Type=Service
X-KDE-Library=plasma_applet_tomatoid
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Arthur Taborda
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=arthur.hvt@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=tomatoid
X-KDE-PluginInfo-Version=0.7
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=240,280
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
